{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>{% block title %} {% endblock title %}</title>
</head>
<body style="background-color:#E9ECEF ">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <a class="navbar-brand" href="https://www.ifb.edu.br/">
            <img src="/media/IFBVertical.png" width="50" height="50" alt="ifb">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-item nav-link active" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                     <a class="nav-item nav-link active" href="{% url 'registrar' %}">Cadastrar</a>
                    </li>
                    <li>
                {% elif user.is_authenticated %}
                    <li class="nav-item active">
                       <h3 class="text-white"> Conectado como: {{ user|capfirst }}</h3>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <a class="btn btn-danger my-2 my-sm-0 nav-item nav-link active text-white" href="{% url 'logout' %}">
                    Logout
                </a>
                {% if '/ajuda/' not in request.path %}
                    <a id="content" class="btn btn-secondary nav-item nav-link active text-white" href="{% url 'ajuda' %}">
                        Ajuda
                    </a>

                {% endif %}
            {% endif %}
            {% if request.path != '/' and not user.is_authenticated  %}
                <a class="btn btn-secondary my-2 my-sm-0" href="{% url 'home' %}">Home</a>
            {% endif %}
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        {% block content %}

        {% endblock content %}
    </div>

    {% block static %}

    {% endblock static %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>