{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block tilte %}
    Criar Usuário {{ block.super }}
{% endblock tilte %}

{% block content %}
       <div class="container">
      <div class="row">
        <div class="col-sm">

        </div>

        <div class="col-sm-4 text-center">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Criar Conta na Aplicação Msa-Astar</h1>

            <div class="text-center">
                <form class="form-signin" method="post">
                    {% for field in form %}
                        {% csrf_token %}
                        {{ field.label_tag }}<br>
                        {% render_field field|add_class:"form-control" %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger form-control"> {{ error }} </div>
                        {% endfor %}
                    {% endfor %}
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017.2-2021</p>
                </form>
            </div>
        </div>
        <div class="col-sm">

        </div>
      </div>
    </div>

{% endblock content %}


