{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        </div>
            <a href="{% url 'view_logado' %}" id="content_voltar" class="btn btn-warning nav-item nav-link active text-white">
                Voltar
            </a>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
{#             One of three columns#}
            </div>
            <div class="col-sm-6 center_page aligned-center" >
                <p><h1>Este é o Id da Sua Sequência.</h1></p><br>
                <div class="input-group mb-3">
            <input id="copy" type="text" class="form-control" value="{{ task_id }}" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="button" class="btn btn-link" onclick="myFunction()" style="color:dodgerblue">
                    <b>Copiar</b>
                </button>
            </div>
        </div>
                <p><h2><a href="{% url 'consulta_seq' %}"> Consulte o Resultado Aqui.</a></h2></p>
            </div>
            <div class="col-sm">
{#            One of three columns#}
            </div>
        </div>
    </div>
{% endblock content %}

{% block static %}
    <script src="{% static 'js/colorir_sequencia.js' %}"></script>
{% endblock static %}

